* {
  margin: 0;
  padding: 0;
}
body {
  background-image: radial-gradient(circle farthest-side, rgba(205, 205, 0, 0.75), rgba(80, 140, 230, 0.75));
  /* height: 100%; */
  padding: 40px;
}
#timesCanvas,
#sizesCanvas {
  width: 200px;
  height: 40px;
}
.controller {
  display: flex;
}
.controller .times-controller {
  display: flex;
  align-items: center;
}
.controller .times-controller > label {
  color: #3c78e6;
  font: 18px Helvetica;
  text-shadow: 1px 1px 1px #00009e;
}
.controller .sizes-controller {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.controller #sizeCircle {
  width: 40px;
  height: 40px;
  margin-right: -10px;
}
main {
  margin-top: 20px;
}
main #magnifier {
  width: 955px;
  height: 611px;
}
