<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./doc/angular.js"></script>
    <script src="./doc/polyfill2.js"></script>
    <title>发送卡连线demo</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .content {
        width: 1203px;
        height: 680px;
        border: 1px solid #d7d7d7;
        margin: 120px auto;
    }

    .canvas-container {
        border: 1px solid black;
        width: 540px;
        height: 320px;
        position: relative;
        margin: 0 auto;
    }

    .canvas-container.isConnecting:hover {
        cursor: crosshair;
    }

    #bg_canvas,
    #main_canvas {
        position: absolute;
    }

    #bg_canvas {
        background-color: #b5b5b5;
    }

    .left {
        width: 27.5%;
        height: 100%;
        float: left;
        padding: 20px;
        box-sizing: border-box;
    }

    .right {
        float: right;
        width: 71.5%;
        box-sizing: border-box;
        padding: 20px;
    }

    .apart {
        width: 1px;
        height: 100%;
        background-color: #d7d7d7;
        float: left;
        margin-left: 0.5%;
    }

    .colorList {
        overflow: hidden;
    }

    .colorChunk {
        width: 44px;
        height: 44px;
        line-height: 44px;
        font-size: 24px;
        text-align: center;
        list-style: none;
        color: white;
        cursor: pointer;
        float: left;
        margin-right: 10px;
        border: 2px solid transparent;
    }

    .colorChunk:hover {
        opacity: 0.8;
    }

    .colorChunk.isActive {
        border: 2px solid red;
    }

    .btn-list {
        height: 60px;
        margin-bottom: 10px;
        text-align: right;
        box-sizing: border-box;
        padding-top: 20px;
    }

    .footer {
        margin-top: 20px;
    }

    .btn {
        padding: 4px 18px;
        cursor: pointer;
    }

    .btn+.btn {
        margin-left: 10px;
    }

    .canva-box {
        width: 100%;
        border: 1px solid #999999;
        padding: 40px 0;
    }

    .horizontal-num {
        width: 100%;
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        list-style: none;
        padding-bottom: 6px;
    }

    .horizontal-num li {
        float: left;
        text-align: center;
    }

    .vertical-num {
        position: absolute;
        left: 0;
        transform: translateX(-100%);
        list-style: none;
        height: 100%;
        padding-right: 8px;
    }

    .vertical-num li {
        display: flex;
        align-items: center;
    }

    .movingCell {
        font-weight: bold;
    }

    .lineTyle select {
        padding: 4px;
        padding-left: 0px;
        width: 120px;
        cursor: pointer;
        margin-top: 20px;
    }

</style>

<body>
    <div class="content" ng-controller="myCtrl">
        <div class="left">
            <div style="margin-bottom: 20px;margin-top: 20px;">请选择发送口进行连线</div>
            <ul class="colorList">
                <li ng-repeat="color in colorList" class="colorChunk" ng-class="{isActive: activeColor===color}"
                    ng-style="{ 'background-color': color}" ng-click="selectColor(color)">{{$index}}
                </li>
            </ul>
            <div class="lineTyle">
                <label for="">划线类型</label>
                <select ng-options="type.value as type.name for type in aLineTypes" ng-model="lineType">
                </select>
            </div>
        </div>
        <div class="apart"></div>
        <div class="right">
            <div class="btn-list">
                <button class="btn" ng-click="undo()">撤销</button>
                <button class="btn" ng-click="redo()">恢复</button>
            </div>
            <div class="canva-box">
                <div class="canvas-container" ng-class="{isConnecting: activeColor}">
                    <div class="horizontal-num">
                        <li ng-repeat="i in aHorizontalNum" ng-style="aHorizontalStyle" ng-class="{movingCell: i===iMonvingX+1}">{{i}}</li>
                    </div>
                    <div class="vertical-num">
                        <li ng-repeat="i in aVerticalNum" ng-style="aVerticalStyle" ng-class="{movingCell: i===iMonvingY+1}">{{i}}</li>
                    </div>
                    <canvas id="bg_canvas" width="540" height="320"></canvas>
                    <canvas id="main_canvas" width="540" height="320" ng-mousemove="handleMouseMove($event)" ng-mouseleave="handleMouseLeave()"
                        ng-click="clickCell($event)"></canvas>
                </div>
            </div>
            <div class="btn-list footer">
                <button class="btn" ng-click="resetCurrentPort()">重置当前发送口</button>
                <button class="btn" ng-click="resetAllPort()">重置所有发送口</button>
            </div>
        </div>
    </div>
</body>
<script>
    /* 常量 */
    var BACKGROUNDCOLOR = "#b5b5b5"; //背景色
    var BGLINEWIDTH = 1 //背景网格线宽
    var IRADIUS = 24 // 圆半径
    var IRADIUSWIDTH = 2 // 圆线条宽度
    var CIRCLESTROKECOLOR = "white"; //圆线条颜色
    var FONTFAMILY = "Palatino"; //圆内字体样式
    var FONTCOLOR = "white"; //圆内字体样式
    var CONNECTLINECOLOR = "white" //连线线条颜色
    var TRIANGLEFILL = "WHITE" //三角形颜色


    /* 背景canvas和context */
    var bgCanvas = document.getElementById("bg_canvas");
    var bgCtx = bgCanvas.getContext("2d");

    /* 主绘制canvas和context */
    var canvas = document.getElementById("main_canvas");
    var ctx = canvas.getContext("2d");
    /* 默认样式 */
    /* 使字体位于单位中心 */
    ctx.textBaseline = "middle"; //字体相对y坐标居中
    ctx.textAlign = "center"; // 字体相对x坐标居中
    var fontSize = 24;

    var iXNum = 4; //水平方向单元格数量
    var iYNum = 3; //垂直方向单元格数量
    var aCellList = [];// 单元格坐标信息
    var aWillDrawCells = []; // 需绘制单元格
    var iWidth = bgCanvas.width / iXNum //单元格宽度
    var iHeight = bgCanvas.height / iYNum //单元格高度
    var iMovingCell = -1; // 鼠标移动的单元格
    var iClickCell = -1; //  鼠标点击单元格
    var aUndoList = [] //被撤销的单元格数组，记录下来用作恢复
    var _Scope = null

    //绘制背景网格，计算线宽，iX:水平方向网格数
    function grid(iX, iY) {
        bgCtx.save();
        var iWidth = (bgCanvas.width - (iX - 1) * BGLINEWIDTH) / iX;
        var iHeight = (bgCanvas.height - (iY - 1) * BGLINEWIDTH) / iY;
        for (var i = 1; i < iX; i++) {
            var drawX = iWidth * i + (i - 1) * BGLINEWIDTH + BGLINEWIDTH / 2;
            bgCtx.moveTo(drawX, 0)
            bgCtx.lineTo(drawX, bgCanvas.height)
        }
        for (var j = 1; j < iY; j++) {
            var drawY = iHeight * j + (j - 1) * BGLINEWIDTH + BGLINEWIDTH / 2;
            bgCtx.moveTo(0, drawY)
            bgCtx.lineTo(bgCanvas.width, drawY)
        }
        bgCtx.lineWidth = BGLINEWIDTH;
        bgCtx.stroke();
        bgCtx.restore();
    };
    // 绘制背景网格，不计算线宽。一般线宽为1、2像素的时候
    function grid2(iX, iY) {
        aCellList = Array.from({ length: iX * iY }, function (item, index) {
            var xP = (index % iX) * iWidth;
            var yP = Math.floor(index / iX) * iHeight;
            return [xP, yP]
        });
        bgCtx.save();
        bgCtx.translate(0.5, 0.5); // 半像素问题解决
        for (var i = 1; i < iX; i++) {
            var drawX = iWidth * i;
            bgCtx.moveTo(drawX, 0);
            bgCtx.lineTo(drawX, bgCanvas.height);
        }
        for (var j = 1; j < iY; j++) {
            var drawY = iHeight * j;
            bgCtx.moveTo(0, drawY);
            bgCtx.lineTo(bgCanvas.width, drawY);
        }

        bgCtx.lineWidth = BGLINEWIDTH;
        bgCtx.stroke();
        bgCtx.restore();
    }
    grid2(iXNum, iYNum);

    // 单元格背景填充
    function fillCell(index, iSendPort) {
        var aCell = aCellList[index];
        ctx.save();
        ctx.fillStyle = _Scope.colorList[iSendPort];
        /* 减去border长度 */
        ctx.fillRect(aCell[0] + 1, aCell[1] + 1, iWidth - 2, iHeight - 2)
        ctx.restore()
    }
    // 圆圈数字绘制。iIndex第几个单元格;sendPort哪个发送口
    function drawTextCircle(iIndex, sendPort) {
        var aCell = aCellList[iIndex];
        var x = aCell[0] + iWidth / 2;
        var y = aCell[1] + iHeight / 2;
        ctx.save();
        ctx.beginPath();
        ctx.strokeStyle = CIRCLESTROKECOLOR;
        ctx.lineWidth = IRADIUSWIDTH;
        ctx.arc(x, y, IRADIUS, 0, Math.PI * 2)
        ctx.stroke();
        drawText(x, y, sendPort)
        ctx.restore();
    }
    // 绘制文字
    function drawText(x, y, text, size) {
        ctx.save();
        ctx.font = (size || fontSize) + "px " + FONTFAMILY;
        ctx.fillStyle = FONTCOLOR;
        /* 感觉+2px后视觉上才垂直居中，先这么处理下 */
        ctx.fillText(text, x, y + 2);
        ctx.restore();
    }
    // 连线
    function connectLine(aPortArr) {
        aPortArr.reduce(function (pre, cur, index) {
            var startCell = aCellList[pre.iCellIndex];
            var endCell = aCellList[cur.iCellIndex];
            var x1 = startCell[0] + iWidth / 2;
            var y1 = startCell[1] + iHeight / 2;
            var x2 = endCell[0] + iWidth / 2;
            var y2 = endCell[1] + iHeight / 2;
            var angle = Math.atan((y2 - y1) / (x2 - x1));//计算两点间夹角
            var bReverse = x2 - x1 < 0;//终点在起点左侧时，tan计算限制，需要做些特殊处理。
            if (index === 1) {
                // 第一条线起点从圆画出，x1/y1是在圆上
                var x1 = bReverse ? x1 - Math.cos(angle) * IRADIUS : x1 + Math.cos(angle) * IRADIUS;
                var y1 = bReverse ? y1 - Math.sin(angle) * IRADIUS : y1 + Math.sin(angle) * IRADIUS;
            }
            if (index === aPortArr.length - 1) {
                var offsetX = fontSize / 2 * Math.cos(angle) // 箭头指向单元格中点 E字根据fontSize进行一定偏移
                var offsetY = fontSize / 2 * Math.sin(angle) // 
                if (bReverse) {
                    offsetX = -offsetX
                    offsetY = -offsetY
                }
                drawText(x2 + offsetX, y2 + offsetY, "E", 18);
            }
            ctx.beginPath();
            ctx.save()
            ctx.moveTo(x1, y1);
            ctx.lineTo(x2, y2);
            ctx.strokeStyle = CONNECTLINECOLOR
            ctx.stroke();
            ctx.fillStyle = TRIANGLEFILL
            ctx.translate(x2, y2);
            var rotateAngle = bReverse ? angle - Math.PI : angle
            ctx.rotate(rotateAngle)
            isoscelesTriangle(0, 0, 12, Math.PI * 0.6)
            ctx.restore()
            return cur
        })
    };

    // 单元格绘制
    function drawAll() {
        // 每次都重绘
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        if (!aWillDrawCells.length) {
            return
        }
        aWillDrawCells.forEach(function (item) {
            fillCell(item.iCellIndex, item.sendPort);
            if (item.sort === 0) {
                drawTextCircle(item.iCellIndex, item.sendPort)
            }
        })
        /* 单元格连线绘制 */
        // 当前已绘制的发送口
        var aDrawedPortList = [];
        aWillDrawCells.forEach(function (item) {
            if (!aDrawedPortList.includes(item.sendPort)) {
                aDrawedPortList.push(item.sendPort)
            }
        })
        // 一个发送口一个发送口连线
        aDrawedPortList.forEach(function (iSendPort) {
            var aPortArr = aWillDrawCells.filter(function (item) {
                return item.sendPort === iSendPort
            }).sort(function (pre, cur) { return pre.sendPort - cur.sendPort });
            if (aPortArr.length > 1) {
                // 大于1则需要连线
                connectLine(aPortArr)
            }
        })
    };
    /* 等腰三角形实现，方向朝右（弧度小于1π），x,y顶点坐标,hyp斜边长度，angle顶角弧度 */
    function isoscelesTriangle(x, y, hyp, angle, drawType) {
        var oMap = {
            fill: function () {
                ctx.fill();
            },
            stroke: function () {
                ctx.stroke();
            },
            all: function () {
                ctx.stroke();
                ctx.fill();
            },
        }
        drawType = drawType || "fill";
        if (!(drawType in oMap)) {
            return
        }
        ctx.beginPath();
        ctx.save();
        ctx.translate(x, y); //移动到顶点
        var h = (hyp / 2) / Math.tan(angle / 2);//高
        ctx.moveTo(0, 0);
        ctx.lineTo(-h, -hyp / 2);
        ctx.lineTo(-h, hyp / 2);
        ctx.closePath();
        oMap[drawType]();
        ctx.restore();
    }
    /* 划线类型分为自定义和非自定义 */
    function selfDefineType() {
        var iSendPort = _Scope.colorList.indexOf(_Scope.activeColor);
        var aCurrnetPortList = aWillDrawCells.filter(function (item) { return item.sendPort === iSendPort });
        aWillDrawCells.push({
            iCellIndex: iClickCell,//第几个单元格
            sendPort: iSendPort,//几号发送口
            sort: aCurrnetPortList.length,//排序依据
        })
        drawAll()
    };
    /* 非自定义类型 */
    function otherLineType(type) {
        var iSendPort = _Scope.colorList.indexOf(_Scope.activeColor);
        var aCurrnetPortList = aWillDrawCells.filter(function (item) { return item.sendPort === iSendPort })
            .sort(function (pre, cur) { return pre.sendPort - cur.sendPort });;
        if (!aCurrnetPortList.length) {
            // 首次绘制时所有类型都一样
            selfDefineType()
            return;
        }
        var iClickX = iClickCell % iXNum;
        var iClickY = Math.floor(iClickCell / iXNum);
        var iLastCell = aCurrnetPortList[aCurrnetPortList.length - 1].iCellIndex;
        var iLastX = iLastCell % iXNum
        var iLastY = Math.floor(iLastCell / iXNum);
        // 根据单元格index加进aDrawedCells里
        function addPathCell(aPathList) {
            aPathList.shift()//起始点已经绘制了，所以从路径中去除
            var bPassDraedCell = aWillDrawCells.some(function (item) {
                return aPathList.includes(item.iCellIndex)
            });
            if (bPassDraedCell) {
                return "pathOverlap"
            }
            aPathList.forEach(function (item, index) {
                aWillDrawCells.push({
                    iCellIndex: item,
                    sendPort: iSendPort,
                    sort: aCurrnetPortList.length + index,
                })
            })
        }
        var oMap = {
            "2": function () {
                var aPathList = createContinuityNum(iLastX, iClickX).map(function (item) { return item + iLastY * iXNum });
                var returnValue = addPathCell(aPathList);
                if (returnValue) {
                    return returnValue
                }
                if (iClickY !== iLastY) {
                    aWillDrawCells.push({
                        iCellIndex: iClickCell,
                        sendPort: iSendPort,
                        sort: aCurrnetPortList.length + aPathList.length,
                    })
                }
            },
            "3": function () {
                var aPathList = createContinuityNum(iLastY, iClickY).map(function (item) { return iLastX + item * iXNum });
                var returnValue = addPathCell(aPathList);
                if (returnValue) {
                    return returnValue
                }
                if (iClickX !== iLastX) {
                    aWillDrawCells.push({
                        iCellIndex: iClickCell,
                        sendPort: iSendPort,
                        sort: aCurrnetPortList.length + aPathList.length,
                    })
                }
            },
            "4": function () {
                // 同或判断
                if ((iClickX - iLastX) * (iClickY > iLastY) > 0) {
                    var aPathList = createZPath(iLastX, iLastY, iClickX, iClickY);
                    var returnValue = addPathCell(aPathList);
                    if (returnValue) {
                        return returnValue
                    }
                } else {
                    return "selfDefineType"
                }
            },
            "5": function () {
                // 异或判断
                if ((iClickX - iLastX) * (iClickY > iLastY) < 0) {
                    var aPathList = createZPath(iLastX, iLastY, iClickX, iClickY);
                    var returnValue = addPathCell(aPathList);
                    if (returnValue) {
                        return returnValue
                    }
                } else {
                    return "selfDefineType"
                }
            }
        }
        if (typeof oMap[type] === "function") {
            var x = oMap[type]();
            if (x === "selfDefineType") {
                selfDefineType()
            } else if (x === "pathOverlap") {
                alert("修改前，请清除选中区域中被其他发送口关联部分。")
            } else {
                drawAll()
            }
        }

    };
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $rootScope) {
        _Scope = $scope;
        $scope.activeColor = "";
        $scope.colorList = ["#00acb9", "#ffb812", "#00b56f", "#bf804d"];
        $scope.aLineTypes = [{ name: "自定义", value: 1 }, { name: "— 字形", value: 2 }, { name: "| 字形", value: 3 },
        { name: "Z 字形", value: 4 }, { name: "反Z", value: 5 }];
        $scope.lineType = 1
        $scope.aHorizontalNum = Array.from({ length: iXNum }, function (x, i) { return i + 1 });
        $scope.aVerticalNum = Array.from({ length: iYNum }, function (x, i) { return i + 1 });
        $scope.aHorizontalStyle = { width: 100 / iXNum + "%" };
        $scope.aVerticalStyle = { height: 100 / iYNum + "%" };
        $scope.iMonvingX = -1; //正在移动的横向单元格数
        $scope.iMonvingY = -1; // 正在移动的纵向单元格数
        $scope.selectColor = function (color) {
            $scope.activeColor = color
        };
        // 鼠标移动事件
        $scope.handleMouseMove = function (e) {
            iMouseMovingCell = findCurrentIndex(e.offsetX, e.offsetY);
            $scope.iMonvingX = iMouseMovingCell % iXNum;
            $scope.iMonvingY = Math.floor(iMouseMovingCell / iXNum);
        };
        // 鼠标离开事件
        $scope.handleMouseLeave = function () {
            iMouseMovingCell = -1;
            iClickCell = -1;
            $scope.iMonvingX = -1;
            $scope.iMonvingY = -1;
        }
        // 鼠标点击事件
        $scope.clickCell = function (e) {
            if (!$scope.activeColor) {
                return
            }
            iClickCell = findCurrentIndex(e.offsetX, e.offsetY);
            var bCellHasDrawed = aWillDrawCells.map(function (item) { return item.iCellIndex }).includes(iClickCell)
            if (bCellHasDrawed) {
                //已经绘制过的单元格点击无效
                return
            }
            if ($scope.lineType === 1) {
                selfDefineType()
            } else {
                otherLineType($scope.lineType);
            }
        }
        /* 撤销，按照发送口进行撤销 */
        $scope.undo = function () {
            var iSendPort = $scope.colorList.indexOf($scope.activeColor);
            var aPortArr = aWillDrawCells.filter(function (item) {
                return item.sendPort === iSendPort
            }).sort(function (pre, cur) { return pre.sendPort - cur.sendPort });
            if (!aPortArr.length) {
                return
            }
            var iCellIndex = aPortArr.pop().iCellIndex;
            var iIndex = aWillDrawCells.findIndex(function (item) { return item.iCellIndex === iCellIndex })
            aUndoList.push(aWillDrawCells.splice(iIndex, 1)[0])
            drawAll()
        }
        /* 恢复 */
        $scope.redo = function () {
            var iSendPort = $scope.colorList.indexOf($scope.activeColor);
            var aPortArr = aUndoList.filter(function (item) {
                return item.sendPort === iSendPort
            });
            if (!aPortArr.length) {
                return
            }
            var iCellIndex = aPortArr.pop().iCellIndex;
            var iIndex = aUndoList.findIndex(function (item) { return item.iCellIndex === iCellIndex })
            aWillDrawCells.push(aUndoList.splice(iIndex, 1)[0])
            drawAll()
        }
        // 重置当前发送口
        $scope.resetCurrentPort = function () {
            var iSendPort = $scope.colorList.indexOf($scope.activeColor);
            aWillDrawCells = aWillDrawCells.filter(function (item) { return item.sendPort !== iSendPort });
            drawAll()
        }
        $scope.resetAllPort = function () {
            aWillDrawCells.length = 0;
            drawAll()
        }
    });
    /* 工具函数 */
    // 根据位置找到单元格
    function findCurrentIndex(offsetX, offsetY) {
        return aCellList.findIndex(function (item) {
            var bXIn = offsetX >= item[0] && offsetX <= item[0] + iWidth;
            var bYIn = offsetY >= item[1] && offsetY <= item[1] + iHeight;
            return bXIn && bYIn;
        })
    };
    // 根据传进去的两个整数生成一个整数数组
    function createContinuityNum(start, end) {
        if (Math.floor(start) !== start || Math.floor(end) !== end) {
            throw new Error("参数必须为两个整数")
        }
        var iMax = Math.max(start, end);
        var iMin = Math.min(start, end);
        var result = [iMin]
        while (iMin < iMax) {
            // 这里看出++在前和++再后的区别。 ++在前优先执行自增，后进行其他处理。++再后相反
            result.push(++iMin)
        }
        if (start > end) {
            return result.reverse()
        }
        return result
    }
    // 创造Z字形路径
    function createZPath(startX, startY, endX, endY) {
        xArr = createContinuityNum(startX, endX);
        yArr = createContinuityNum(startY, endY);
        var result = [];
        yArr.forEach(function (yNum) {
            xArr.forEach(function (xNum) {
                result.push(yNum * iXNum + xNum)
            })
        })
        return result
    }
</script>

</html>
